/*--------------Footer ------------------*/

.sec4 .footerMain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 13rem;
    padding: 0;
    background-color: lightgray;
}

.sec4 .footerMain .footerHeader{
    color: black;
    text-align: center;
}


.sec4 .footerMain .footerHeader h3{
    font-size: 1.5rem;
    padding: 0;
}


.sec4 .footerMain .footerHeader p{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--bg-color);
    padding: 0;
    letter-spacing: 0;
    margin-block-start: 0;
}


.sec4 .footerMain .footerIcons{
    height: 3.8rem;
}

.sec4 .footerMain .footerIcons ul{
    width: 1.3rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}


.sec4 .footerMain .footerIcons ul li a img{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.3rem;
}

/*--------------Footer  END ------------------*/