/*-------------- navbar ---------------*/

.nav{
    background: white;
    padding: 0 2rem;
    height: 0;
    min-height: 10vh;
    z-index: 3;
    position: sticky;
    top: 0;

}

 .nav-menu{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.nav-items{
    display: flex;
    margin: 0;

}

.nav-link{
    padding: 1.6rem 1.8rem;
    font-size: 1.3rem;
    position: relative;
    font-family: var(--raleway);
}

.nav-link:hover{
    background-color: black;
}

.nav-link:hover a{
    color: var(--white);
}

.nav-brand a{
    font-size: 1.6rem;
    padding: 1.6rem;
    display: block;
    font-family: var(--raleway);
}

.toggle-collapse{
    padding: 1.3rem;
}

.toggle-collapse div{
    width: 1.6rem;
    height: 0.19rem;
    cursor: pointer;
    background-color: black;
    margin: 0.31rem;
    transition: all 0.3s ease;

}


/*-------------- navbar  END---------------*/





/*    Viewport less than or equal to 1050 px  */

@media only screen and (max-width: 1050px){
    .nav-link{
        padding: 1.8rem 0.9rem;
        font-size: 1.2rem;
        position: relative;
        font-family: var(--raleway);
    }

    .nav-brand a{
        font-size: 1.4rem;
        padding: 0.9rem;
        padding-top: 1.5rem;
        display: block;
        font-family: var(--raleway);
    }
}







/*    Viewport less than or equal to 870 px  */


@media only screen and (max-width: 870px){

    .nav-items{
        position: absolute;
        right: 0;
        height: 90vh;
        top: 8vh;
        background-color: white;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        z-index: 2;
        padding: 0;
        border-radius: 0.63rem;
    }

    .nav-items li{
        opacity: 0;
        font-size: 1.2rem;
        font-family: var(--raleway);
        color: white;
        flex-wrap: wrap;
        text-align: center;
        padding: 2.3rem;
    }

    .nav-items .nav-link:hover{
        background-color: grey;
    }

    .toggle-collapse{
        display: block;
    }
}


/*------ Toggle classes --------*/
.nav-active{
    transform: translateX(0);
    transition: transform 0.5s ease-in;
}

.navBar-active .toggle-line1{
    transform: rotate(-45deg) translate(-0.31rem,0.38rem);
}

.navBar-active .toggle-line2{
    opacity: 0;
}

.navBar-active .toggle-line3{
    transform: rotate(45deg) translate(-0.31rem,-0.38rem);
}

/*------ Toggle classes  END--------*/



/*------- Animations ------------*/

@keyframes navItemsFade{
    from{
        opacity: 0;
        transform: translatex(3.1rem);
    }
    to{
        opacity: 1;
        transform: translatex(0);
    }
}

/*------- Animations  END------------*/