/*---------About Me ------------*/
.sec1{
    padding: 6.3rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sec1 .content{
    position: relative;
    text-align: center;
    width: 100%;
}

.sec1 .content .aboutMe{
    max-width: 50rem;
    margin: 0 auto;
}

.sec1 p{
    position: relative;
}

.sec1 h3{
    font-weight: 200;
    margin-bottom: 2.5rem;
    margin-top: 0;
}


/*---------About Me  END------------*/

/*---------About Me (IMAGE CAROUSEL) -----------*/


.sec1 .galleryContainer{
    width: 80%;
    height: 31rem;
    max-width: 62rem;
    user-select: none;
    padding: 0.62rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.sec1 .galleryContainer .sliderContainer{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}

.sec1 .galleryContainer .sliderContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0; 
}

.sec1 .galleryContainer .sliderContainer .imageHolder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.sec1 .galleryContainer .sliderContainer .captionHolder p{
    font-size: 1.1rem;
    letter-spacing: 0.063rem;
}


.sec1 .galleryContainer .sliderContainer .leftArrow{
    width: 3.1rem;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 4.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-top-left-radius: 0.63rem;
    border-bottom-left-radius: 0.63rem;
}

.sec1 .galleryContainer .sliderContainer .leftArrow:hover{
    background: #000000a8;
    cursor: pointer;
}

.sec1 .galleryContainer .sliderContainer .rightArrow{
    width: 3.1rem;
    background: #00000036;
    position: absolute;
    right: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 4.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 0.63rem;
    border-bottom-right-radius: 0.63rem;
}

.sec1 .galleryContainer .sliderContainer .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;
}

.sec1 .galleryContainer .sliderContainer .arrow{
    display: inline-block;
    border: 0.19rem solid var(--white);
    width: 0.63rem;
    height: 0.63rem;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.sec1 .galleryContainer .sliderContainer .arrowLeft{
    transform: rotateZ(-135deg);
}


.sec1 .galleryContainer .sliderContainer .arrowRight{
    transform: rotateZ(45deg);
}

.sec1 .galleryContainer .sliderContainer .captionHolder{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: var(--white);
    font-family: Arial;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 5.6rem;
    line-height: 1.9rem;
    overflow: hidden;
}

.sec1 .galleryContainer .sliderContainer .captionHolder .captionText{
    margin: 0;
    color: white;
    font-size: 1.1rem;
}


.sec1 .galleryContainer .sliderContainer #playPauseBtn{
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 5;
    margin: 0.31rem;
    cursor: pointer;
    background-image: url('../icons/playPause.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.sec1 .galleryContainer #dotsContainer{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 1.2rem;
    box-sizing: border-box;
}


.sec1 .galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 0.94rem;
    height: 0.88rem;
    border-radius: 50%;
    margin-left: 0.63rem;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.5s;
}

.sec1 .galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;
}

.sec1 .galleryContainer #dotsContainer .dots:hover{
    background-color: #717171;
}

.sec1 .galleryContainer #dotsContainer .dots.active{
    background-color: #717171;
}

.sec1 .galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.sec1 .galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.sec1 .galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.sec1 .galleryContainer .moveRightNextSlide{
    animation-name: moveRightNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.slideTextFromBottom{
    animation-name: slideTextFromBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

.slideTextFromTop{
    animation-name: slideTextFromTop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

/*---------About Me (IMAGE CAROUSEL)  END-----------*/





/*    Viewport less than or equal to 850 px  */

@media only screen and (max-width: 850px){
    .sec1 .galleryContainer .sliderContainer .captionHolder{
        height: 6.3rem;
        line-height: 1.9rem;
        overflow: hidden;
    }

    .sec1 .galleryContainer .sliderContainer .captionHolder .captionText{
        font-size: 1rem;
    }
}


/*------- Animations ------------*/


@keyframes moveLeftCurrent{
    from{
        margin-left: 0;
        opacity: 1;
    }
    to{
        margin-left: -100%;
        opacity: 1;
    }
}

@keyframes moveLeftNext{
    from{
        margin-left: 100%;
        opacity: 1;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes moveRightCurrent{
    from{
        margin-left: 0;
        opacity: 1;
    }
    to{
        margin-left: 100%;
        opacity: 1;
    }
}

@keyframes moveRightNext{
    from{
        margin-left: -100%;
        opacity: 1;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes slideTextFromBottom {
    from{
        opacity: 0;
        margin-top: 6.3rem;
    }
    to{
        opacity: 1;
        margin-top: 0;

    }
}

@keyframes slideTextFromTop {
    from{
        opacity: 0;
        margin-top: -6.3rem;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }
}

/*------- Animations  END------------*/