/*---------Why I am applying -------------*/

.sec3{
    padding: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.sec3 .content{
    text-align: center;
    width: 100%

}


.sec3 .content h3{
    margin-top: 0;
    margin-bottom: 40px;
}

/*---------Why I am applying  END-------------*/