
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Poppins|Raleway|Ubuntu&display=swap');

html, body{
        margin: 0%;
        box-sizing: border-box;
        scroll-behavior: smooth;

}





:root{
    /*  Theme colors variable */
    --text-gray: #273043;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;

    /* Gradient color variable */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);


    /* Google font families */
    --ubuntu: 'Ubuntu', sans-serif;
    --maven: 'Maven Pro', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --poppins: 'Poppins', sans-serif;


    /* Font family variable */
    --Arial: 'Arial';

}






/* ----------------Global Classes ------------- */

a{
    text-decoration: none;
    color: var(--text-gray);
}


ul{
    list-style-type: none;
}

h1{
    font-family: var(--raleway);
    font-size: 2.8rem;
}


h3{
    font-family: var(--raleway);
    font-size: 2.5rem;
    padding-bottom: 1rem;
 
}




p{
    font-family: var(--raleway);
    font-size: 1.2rem;
    font-weight: 300;
    word-spacing: 6px;
    letter-spacing: 2px;
    color: #61676D;
    padding: 1.6rem;
    padding-top: 0;
}


/* -------------Global Classes   END------------- */





/*-------------- navbar ---------------*/

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    z-index: 3;
    position: sticky;
    top: 0;

}

 .nav-menu{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.toggle-collapse div{
    width: 25px;
    height: 3px;
    cursor: pointer;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;

}

.toggle-collapse{
    padding: 1.3rem;
}



.nav-items{
    display: flex;
    margin: 0;

}

.nav-link{
    padding: 1.6rem 1.8rem;
    font-size: 1.3rem;
    position: relative;
    font-family: var(--raleway);
}

.nav-link:hover{
    background-color: black;
}

.nav-link:hover a{
    color: var(--white);
}

.nav-brand a{
    font-size: 1.6rem;
    padding: 1.6rem;
    display: block;
    font-family: var(--raleway);
}


/*-------------- navbar  END---------------*/






/* ------------Main Content ---------------*/

/*---------Site Title ----------*/


.site-background{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.site-background .header{
    z-index: 1;
    position: relative;
    top: -20%;
    animation: titleAppear;
    animation-duration: 10s;

}

.site-background .header h1, h3{
    margin: 0.8rem;
    text-align: center;
}

.site-background .header h3{
    font-size: 1.3rem;
    padding-bottom: 0;
}


.btn{
    font-family: var(--raleway);
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    margin: 1.8rem;
    background: var(--sky);
    z-index: 1;
    position: relative;
    left: 25%;
}


.site-background .header .btn:hover{
    background: transparent;
    border: 1px solid green;
    color: green;

}

.site-background .vidContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/*---------Site Title  END ----------*/






/*---------About Me ------------*/
.sec1{
    background-color: var(--white);
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
/*     background-size: cover;
    background-position: center center;
    background-attachment: fixed; */
    flex-direction: column;

}

.sec1 .content{
    position: relative;
    text-align: center;
    width: 100%;
}

.sec1 .content .aboutMe{
    max-width: 800px;
    margin: 0 auto;
}

.sec1 p{
    padding: 0.8rem;
    padding-top: 0rem;
    position: relative;

    
}

.sec1 h3{
    font-weight: 200;
    margin-bottom: 40px;
    margin-top: 0;
}


/*---------About Me  END------------*/




/*---------About Me (IMAGE CAROUSEL) -----------*/


.sec1 .galleryContainer{
    width: 80%;
    height: 500px;
    max-width:1000px;
    user-select: none;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;



}

.sec1 .galleryContainer .sliderContainer{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;


}

.sec1 .galleryContainer .sliderContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;

 
}

.sec1 .galleryContainer .sliderContainer .imageHolder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
̉
}

.sec1 .galleryContainer .sliderContainer .captionHolder p{
    font-size: 1.1rem;
    letter-spacing: 1px;
}


.sec1 .galleryContainer .sliderContainer .leftArrow{
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.sec1 .galleryContainer .sliderContainer .leftArrow:hover{
    background: #000000a8;
    cursor: pointer;
}

.sec1 .galleryContainer .sliderContainer .rightArrow{
    width: 50px;
    background: #00000036;
    position: absolute;
    right: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sec1 .galleryContainer .sliderContainer .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;
}

.sec1 .galleryContainer .sliderContainer .arrow{
    display: inline-block;
    border: 3px solid var(--white);
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.sec1 .galleryContainer .sliderContainer .arrowLeft{
    transform: rotateZ(-135deg);
}


.sec1 .galleryContainer .sliderContainer .arrowRight{
    transform: rotateZ(45deg);
}

.sec1 .galleryContainer .sliderContainer .captionHolder{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: var(--white);
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 90px;
    line-height: 30px;
    overflow: hidden;



}

.sec1 .galleryContainer .sliderContainer .captionHolder .captionText{
    margin: 0;
    color: white;
    font-size: 18px;
}


.sec1 .galleryContainer .sliderContainer #playPauseBtn{
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 5;
    margin: 5px;
    cursor: pointer;
    background-image: url('../icons/playPause.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.sec1 .galleryContainer #dotsContainer{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;

}


.sec1 .galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 14px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.5s;
    


}

.sec1 .galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;

}


.sec1 .galleryContainer #dotsContainer .dots:hover{
    background-color: #717171;

}


.sec1 .galleryContainer #dotsContainer .dots.active{
    background-color: #717171;
}

.sec1 .galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.sec1 .galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.sec1 .galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.sec1 .galleryContainer .moveRightNextSlide{
    animation-name: moveRightNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.slideTextFromBottom{
    animation-name: slideTextFromBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;

}

.slideTextFromTop{
    animation-name: slideTextFromTop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;

}

/*---------About Me (IMAGE CAROUSEL)  END-----------*/




/*---------Section 2 image divider -------------*/
.sec2 .divider{
    background-image: url('../assets/sky1.jpg');
    min-height: 200px;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*---------Section 2 image divider  END-------------*/






/*---------Why I am applying -------------*/

.sec3{
    padding: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.sec3 .content{
    text-align: center;
    width: 100%

}

.sec3 .content p{
    color: grey;
    
}

.sec3 .content h3{
    margin-top: 0;
    margin-bottom: 40px;
}

/*---------Why I am applying  END-------------*/




/*--------------Footer ------------------*/

.sec4 .footerMain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px;
    padding: 0%;
    background-color: lightgray;
}

.sec4 .footerMain .footerHeader{
    color: black;
    text-align: center;
}


.sec4 .footerMain .footerHeader h3{
    font-size: 1.5rem;
    padding: 0;
}


.sec4 .footerMain .footerHeader p{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--bg-color);
    padding: 0;
    letter-spacing: 0;
    margin-block-start: 0;
    
}


.sec4 .footerMain .footerIcons{
    height: 60px;
    display: flex;
    


}

.sec4 .footerMain .footerIcons ul{
    width: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;

    
}


.sec4 .footerMain .footerIcons ul li a img{
    width: 40px;
    height: 40px;
    margin-right: 20px;


}

/*--------------Footer  END ------------------*/




/* ------------Main Content   END---------------*/









/*    Viewport less than or equal to 850 px  */

@media only screen and (max-width: 850px){

    body{
        overflow-x: hidden;
    }


    .nav-items{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 8vh;
        background-color: white;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        z-index: 2;
        padding: 0;
        border-radius: 10px;
        
    }


    .nav-items li{
        opacity: 0;
        font-size: 1.2rem;
        font-family: var(--raleway);
        color: white;
        flex-wrap: wrap;
        text-align: center;
        padding: 2.3rem;
    }

    .nav-items .nav-link:hover{
        background-color: grey;
    }


    .toggle-collapse{
        display: block;
    }

    .sec1 .galleryContainer .sliderContainer .captionHolder{
        height: 100px;
        line-height: 30px;
        overflow: hidden;
    
    }

    .sec1 .galleryContainer .sliderContainer .captionHolder .captionText{
        font-size: 16px;
    }


}



/*------ Toggle classes --------*/
.nav-active{
    transform: translateX(0%);
    transition: transform 0.5s ease-in;

}

.navBar-active .toggle-line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.navBar-active .toggle-line2{
    opacity: 0;
}
.navBar-active .toggle-line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*------ Toggle classes  END--------*/



/*------- Animations ------------*/

@keyframes navItemsFade{
    from{
        opacity: 0;
        transform: translatex(50px);
    }
    to{
        opacity: 1;
        transform: translatex(0px);
    }
}


@keyframes moveLeftCurrent{
    from{
        margin-left: 0;
        opacity: 1;
    }
    to{
        margin-left: -100%;
        opacity: 1;
    }
}

@keyframes moveLeftNext{
    from{
        margin-left: 100%;
        opacity: 1;
    }
    to{
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes moveRightCurrent{
    from{
        margin-left: 0;
        opacity: 1;
    }
    to{
        margin-left: 100%;
        opacity: 1;
    }
}

@keyframes moveRightNext{
    from{
        margin-left: -100%;
        opacity: 1;
    }
    to{
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes slideTextFromBottom {
    from{
        opacity: 0;
        margin-top: 100px;
    }
    to{
        opacity: 1;
        margin-top: 0;

    }
}

@keyframes slideTextFromTop {
    from{
        opacity: 0;
        margin-top: -100px;
    }
    to{
        opacity: 1;
        margin-top: 0;

    }
}

@keyframes titleAppear{
    0%{
        opacity: 0;
        left: -100px;
        color: white
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        left: 0px;
        color: black
    }
}





/*------- Animations  END------------*/





